/* ======================Poppins Font Link ======================== */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ======================Manrope Font Link ======================== */

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a,
div {
  margin: 0;
  padding: 0;
}

:root {
  --Bg-Banner: #1c1e53;
  --Yellow: #fcd980;
  --Royal-Blue: #2405f2;
  --Dark-blue: #282938;
  --White: #fff;
  --Grey: #f4f6fc;
  --Black: #000;
  --Manrope: "Manrope", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

/* ============================================
            Navbar Part CSS Start
===============================================*/
#navbar_part {
  padding: 28px 0;
  background: var(--Bg-Banner);
}
#navbar_part .custom_menu a {
  color: #bbbbcb;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  margin-left: 28px;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}
#navbar_part .custom_menu a:hover {
  color: var(--White, #fff);
}
#navbar_part .Btn button {
  color: var(--White, #fff);
  background: transparent;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  padding: 16px 48px;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  margin-left: 24px;
}
#navbar_part .Btn button:hover {
  color: var(--Dark-blue, #282938);
  background: var(--Grey, #f4f6fc);
}

/* ============================================
            Navbar Part CSS End
===============================================*/

/* ============================================
            Blog Part CSS Start
===============================================*/

#blog_part {
  padding: 128px 0;
}
#blog_part .blog_heading {
  text-align: center;
}
#blog_part .blog_heading h1 {
  color: var(--Dark-blue, #282938);
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  padding-bottom: 16px;
}

#blog_part .blog_heading .heading_name a {
  color: var(--Dark-blue, #282938);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  opacity: 0.87;
}
#blog_part .blog_heading .heading_name span {
  color: var(--Dark-blue, #282938);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  padding-left: 6px;
}
#blog_part .banner_img {
  margin: 48px 0;
  cursor: pointer;
}
#blog_part .blog_content h2 {
  color: var(--Dark-blue, #282938);
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
  padding-bottom: 32px;
  padding-top: 16px;
}

#blog_part .blog_content p {
  color: var(--Dark-blue, #282938);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
  padding-bottom: 24px;
  padding-right: 23px;
}

#blog_part .blog_content p a {
  color: var(--Royal-Blue, #2405f2);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
#blog_part .blog_content p a:hover {
  color: red;
}

#blog_part .blog_content .blog_list {
  padding-bottom: 24px;
}
#blog_part .blog_content .blog_list ul li {
  margin-bottom: 12px;
}
#blog_part .blog_content .blog_list ul li span {
  color: var(--Dark-blue, #282938);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
  padding-left: 6px;
}

/* ============================================
            Blog Part CSS End
===============================================*/
